/*
Theme Name: Supreme Directory
Theme URI: https://wpgeodirectory.com/downloads/supreme-directory/
Description: A Supreme Child Theme for Directory Starter
Author: GeoDirectory
Author URI: https://wpgeodirectory.com/
Template: directory-starter
Version: 1.0.2
License: GPLv2 or greater
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: supreme-directory
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* hide titles */
body.sd #geodir_content > header.entry-header {
    display: none;
}

body.author.sd #geodir_content > header.entry-header,
body.search-results.sd #geodir_content > header.entry-header,
body.sd-add.sd #geodir_content > header.entry-header {
    display: block;
}

body.sd {
    background-color: #fff;
    font-size: 15px;
}

.sd .site-header {
    border: 0 none;
    box-shadow: none;
    /*height: 61px;*/
}

.sd header .container {
    width: 100%;
    padding: 0 23px;
    margin: 0;
}

.sd.home .site-header, .sd.sd-location .site-header {
    box-shadow: none;
    border: 0 none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1111;
}

.sd.admin-bar .site-header {
    top: 32px;
    
}

.home.sd.admin-bar .site-header {
    top: 0;
}

.sd .content-404, .sd .content-archive, .sd .content-single, .sd.home .content-box.content-single article.hentry {
    margin: 0 0 30px 0;
    border: 0;
}

.sd .site-logo-wrap .site-logo {
    overflow: hidden;

}

.sd #primary-nav ul li a {
    min-height: 61px;
    line-height: 61px;
}

#primary-nav ul .sub-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: none;
    border-width: 0;
    box-shadow: none;
}

.featured-area::before {
    background-color: black;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.single-gd_place .featured-area::before {
    opacity: 0;
}

.featured-area {
    align-items: center;
    display: flex;
    min-height: 350px;
    flex-direction: column;
    padding: 32px 0;
    position: relative;
    text-align: center;
}

.home .featured-area, .sd-location .featured-area {
    height: 100vh;
}

.sd.single.geodir-page .featured-area, .sd.sd-preview .featured-area {
    height: 65vh;
    width: 100%;
}

.featured-img {
    background-color: #f9f9f9;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

.header-wrap {
    position: relative;
    z-index: 5;
}

.header-wrap {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;
}

.sd .featured-area h1.entry-title {
    color: #fff;
    font-size: 60px;
    position: relative;
    z-index: 1111;
    padding: 0;
    margin: 0;
}

.sd h1.entry-title {
    font-size: 30px;
}

.sd.search h1.entry-title, .sd.author h1.entry-title {
    font-size: 18px;
    margin: 0;
}

.sd .entry-subtitle {
    color: #fff;
    font-size: 20px;
    line-height: 35px;
}

.sd.home .geodir-loc-bar, .sd.sd-location .geodir-loc-bar {
    border: 0 none;
    margin: 0 0 20px;
}

.sd.home .featured-area .geodir-loc-bar-in, .sd.sd-location .featured-area .geodir-loc-bar-in {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    margin: 0 auto;
    max-width: 590px;
}

.sd.home .geodir-search, .sd.sd-location .geodir-search {
    margin-right: 0;
}

.sd .geodir-search input, .sd .geodir-search select {
    height: 45px;
    padding: 10px 12px;
}

.sd.home .geodir-search input.showFilters, .sd.sd-location .geodir-search input.showFilters {
    display: none;
}

.sd .near-compass {
    color: #ccc;
    cursor: pointer;
    margin: 24px 0 0 27px;
}

.sd .near-compass .fa {
    font-size: 18px;
}

.sd .near-compass:hover {
    color: #ed6d62;
}

.sd.home .featured-area .geodir-category-list-in, .sd.sd-location .featured-area .geodir-category-list-in {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    margin-top: 0;
    padding: 0;
}

.sd.home .featured-area .geodir-cat-list-tax, .sd.sd-location .featured-area .geodir-cat-list-tax {
    display: none;
}

.geodir-cat-list ul {
    list-style: outside none none;
    margin-top: 20px;
}

.sd.home .featured-area .cat-link, .sd.home .featured-area .geodir-pcat-show img, .sd.sd-location .featured-area .cat-link, .sd.sd-location .featured-area .geodir-pcat-show img {
    display: block;
    margin: 0 auto;
}

.sd .featured-area  .geodir-cat-list ul li {
    font-size: 12px;
}

.sd .featured-area  .geodir-cat-list ul li:nth-child(5n) {
    margin-right: 0;
}

.sd.home .featured-area span.geodir_term_class, .sd.sd-location .featured-area span.geodir_term_class {
    display: none;
}

.sd.home .featured-area .geodir-pcat-show > a, .home-more a, .sd.sd-location .featured-area .geodir-pcat-show > a {
    color: #fff;
}

.sd.home .featured-area .geodir-pcat-show, .sd.sd-location .featured-area .geodir-pcat-show {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 center;
    border-radius: 10px;
    width: 18.4%;
    padding: 10px;
}

.sd.home .featured-area .geodir-pcat-show:hover, .sd.sd-location .featured-area .geodir-pcat-show:hover {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 center;
}

.sd.home .featured-area .geodir-pcat-show:last-child, .sd.sd-location .featured-area .geodir-pcat-show:last-child {
    margin-right: 0;
}

.sd.home .featured-area .geodir-pcat-show img, .sd.sd-location .featured-area .geodir-pcat-show img {
    height: 35px !important;
}

.featured-area .geodir-cat-list {
    color: #fff;
    font-size: 16px;
}

.featured-area .geodir-cat-list-more {
    display: none;
}

.home-more {
    bottom: 0;
    font-size: 50px;
    position: absolute;
    right: 46%;
}

.sd h3.widget-title, .sd h1.entry-title, .sd h2.entry-title, .sd h2.comments-title, .sd #comments h3#reply-title {
    border-bottom: 0 none;
}

.sd .content-box.content-single .commentlist-wrap, .sd .content .content-single.entry .commentlist-wrap, .sd #geodir_content.content-single .commentlist-wrap, .sd .sidebar .content-single.widget .commentlist-wrap, .sd .dt-sidebar .content-single.widget .commentlist-wrap, .sd .geodir-content-right .content-single.geodir-company_info .commentlist-wrap, .sd .geodir_full_page .content-single.geodir-category-list-in .commentlist-wrap, .sd .geodir_full_page .content-single.geodir-loc-bar .commentlist-wrap, .sd .geodir_preview_section form.content-single .commentlist-wrap, .sd .content-box.content-single #respond, .sd .content .content-single.entry #respond, .sd #geodir_content.content-single #respond, .sd .sidebar .content-single.widget #respond, .sd .dt-sidebar .content-single.widget #respond, .sd .geodir-content-right .content-single.geodir-company_info #respond, .sd .geodir_full_page .content-single.geodir-category-list-in #respond, .sd .geodir_full_page .content-single.geodir-loc-bar #respond, .sd .geodir_preview_section form.content-single #respond, .sd .content-box.content-single p.no-comments, .sd .content .content-single.entry p.no-comments, .sd #geodir_content.content-single p.no-comments, .sd .sidebar .content-single.widget p.no-comments, .sd .dt-sidebar .content-single.widget p.no-comments, .sd .geodir-content-right .content-single.geodir-company_info p.no-comments, .sd .geodir_full_page .content-single.geodir-category-list-in p.no-comments, .sd .geodir_full_page .content-single.geodir-loc-bar p.no-comments, .sd .geodir_preview_section form.content-single p.no-comments, .sd .content-box.content-single article.hentry, .sd .content .content-single.entry article.hentry, .sd #geodir_content.content-single article.hentry, .sd .sidebar .content-single.widget article.hentry, .sd .dt-sidebar .content-single.widget article.hentry, .sd .geodir-content-right .content-single.geodir-company_info article.hentry, .sd .geodir_full_page .content-single.geodir-category-list-in article.hentry, .sd .geodir_full_page .content-single.geodir-loc-bar article.hentry, .sd .geodir_preview_section form.content-single article.hentry, .sd .content-archive .commentlist-wrap, .sd .content-archive #respond, .sd .content-archive p.no-comments, .sd .content-archive article.hentry {
    background-color: #fff;
    font-size: 15px;
    margin: 0 0 30px;
    padding: 0;
    box-shadow: none;
}

.sd-my-account-dd-inner a.goedir-forgot-link{
    float: left;
}

.sd-my-account-dd-inner a.goedir-newuser-link{
    float: right;
}

.sd-my-account-dd-inner h4.sd-my-account-title {
    border-bottom: 1px solid #151515;
    text-align: center;
    padding-bottom: 10px;
}

.sd-my-account-dd-inner p.rember {
    line-height: normal;
    padding: 0;
}

.sd-my-account-dd-inner p.rember input {
    margin-top: 3px;
    margin-left: 0;
}

.sd-my-account-dd-inner p.error_msg {
    margin-bottom: 0;
}

.sd-my-account-dd-inner .form_row {
    padding-bottom: 10px;
}

.sd-my-account-dd-inner form {
    padding: 10px 0;
    min-height: 200px;
}

.sd .entry-content {
    margin: 0px auto;
    margin-bottom: -30px;
    padding-bottom: 30px;
    padding-top: 35px;
}

.sd .entry-content > p:first-child {
    /*padding-top: 35px;*/
}

/*
#################################################
SIDEBARS CSS START
#################################################
*/
.sd .entry-content.sidebar-right{
    float: left;
    padding-right: 1%;
    border-right:1px solid #eee;
}

.sd .entry-content.sidebar-left{
    float: right;
    padding-left: 1%;
    border-left:1px solid #eee;
}

.sd .sd-sidebar-left{
    float: left;
    margin-right: 1%;
}

.sd .sd-sidebar-right{
    float: right;
    margin-left: 1%;
}

.sd .entry-content.sidebar-active{
    width: 74%;
}

.sd .sd-sidebar{
    width: 24%;
}
/*
#################################################
SIDEBARS CSS END
#################################################
*/

#home-scroll:after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}


.sd .geodir_location_description {
    margin-bottom: 40px;
}

.sd .geodir_location_description .widget-title {
    display: none;
}

/* Search & Listings Page */

.sd.search.geodir-page #site-header, .sd.archive.geodir-page #site-header {
    display: flex;
    flex-basis: 61px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    /*height: 61px;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.sd.search.geodir-page.admin-bar #site-header, .sd.archive.geodir-page.admin-bar #site-header {
    top: 32px;
}

.sd.search.geodir-page .entry-header, .sd.archive.geodir-page .entry-header {
    /*display: none;*/
}

.sd.search.geodir-page .geodir-common, .sd.archive.geodir-page .geodir-common {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}

.sd.search.geodir-page #geodir_content, .sd.archive.geodir-page #geodir_content {
    flex-basis: 60%;
    width: 60% !important;
    padding: 20px;
}

.sd.search.geodir-page .geodir-listings-sidebar-left,
.sd.archive.geodir-page .geodir-listings-sidebar-left,
.sd.search.geodir-page .geodir-listings-sidebar-right,
.sd.archive.geodir-page .geodir-listings-sidebar-right {
    display: block;
    flex-grow: 1;
    float: left;
    /*position: fixed;*/
    position: relative;
    right: 0;
    /*top: 61px;*/
    width: 40% !important;
    flex-basis: 40%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sd.search.geodir-page.admin-bar .geodir-listings-sidebar-right, .sd.archive.geodir-page.admin-bar .geodir-listings-sidebar-right {
    top: 93px;
}

.sd.search.geodir-page #sticky_map_gd_listing_map, .sd.archive.geodir-page #sticky_map_gd_listing_map {
    /*min-height: calc(100vh - 61px) !important;*/
}

.sd.search.geodir-page #gd_listing_map_wrapper, .sd.search.geodir-page #gd_listing_map, .sd.search.geodir-page #gd_listing_map_loading_div,
.sd.archive.geodir-page #gd_listing_map_wrapper, .sd.archive.geodir-page #gd_listing_map, .sd.archive.geodir-page #gd_listing_map_loading_div {
    /* height: calc(100vh - 61px) !important;*/
}

.sd.search.geodir-page .geodir-loc-bar, .sd.archive.geodir-page .geodir-loc-bar {
    margin: 0;
    padding: 0;
}

.sd .geodir-list-view-select {
    /*display: none;*/
}

.gd-pagination-details {
    float: right;
}

.sd.search.geodir-page .site-footer, .sd.archive.geodir-page .site-footer {
    display: none;
}

.sd .geodir_category_list_view li.geodir-gridview {
    border: 0 none !important;
}

.sd .geodir_category_list_view li.gridview_onehalf {
    margin: 0 20px 0 0;
    width: calc(50% - 12px);
}

.geodir_category_list_view li.gridview_onethird {
    margin: 0 15px 0 0;
    width: calc(33.3% - 12px);
}

.sd .geodir_category_list_view li.gridview_onefourth {
    margin: 0 13px 0 0;
    width: calc(25% - 12px);
}

.sd .geodir_category_list_view li.gridview_onefifth {
    margin: 0 12px 0 0;
    width: calc(20% - 12px);
}

.sd .geodir_category_list_view li.gridview_onehalf:nth-child(2n+2), .geodir_category_list_view li.gridview_onethird:nth-child(3n+3), .geodir_category_list_view li.gridview_onefourth:nth-child(4n+4), .geodir_category_list_view li.gridview_onefifth:nth-child(5n+5) {
    margin-right: 0;
}

.sd.search.geodir-page .geodir_category_list_view li.geodir-gridview .geodir-content .geodir-entry-content, .sd.archive.geodir-page .geodir_category_list_view li.geodir-gridview .geodir-content .geodir-entry-content {
    display: none;
}

.sd .geodir_category_list_view li.geodir-gridview .geodir-content, .sd .geodir_category_list_view li.geodir-gridview .geodir-addinfo {
    margin: 0;
    width: 100%;
}

.sd .geodir_category_list_view li.geodir-gridview h3 {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

.sd .geodir_category_list_view li.geodir-gridview .geodir-content .geodir_more_info {
    padding: 0 0 5px;
}

.sd .geodir_category_list_view li.geodir-gridview .geodir-rating {
    width: 91px !important;
    float: left;
    margin: 2px 5px 0 0;
}

.sd .geodir-gridview .fa.fa-comments {
    display: none;
}

.sd .geodir_category_list_view li.geodir-gridview .geodir-addinfo a.geodir-pcomments {
    font-size: 16px;
}

.sd .geodir_category_list_view li.geodir-gridview .geodir-addinfo a.geodir-pcomments::before {
    content: " -";
}

.sd .geodir_category_list_view .geodir-addtofav {
    position: relative;
}

.sd a.geodir-addtofav-icon, .sd a.geodir-removetofav-icon {
    color: transparent;
    font-size: 1px;
}

.sd a.geodir-addtofav-icon .fa-heart {
    color: #fff;
    font-size: 20px;
}

.sd a.geodir-removetofav-icon .fa-heart {
    font-size: 20px;
}

.sd.archive.geodir-page .geodir_advanced_search_widget, .sd.search.geodir-page .geodir_advanced_search_widget {
    margin-bottom: 10px;
}

.sd.search.geodir-page .geodir-loc-bar, .sd.archive.geodir-page .geodir-loc-bar {
    border: 0 none;
}

.sd.search.geodir-page .geodir-loc-bar-in, .sd.archive.geodir-page .geodir-loc-bar-in {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    padding: 0;
}

.sd .content-box, .sd .content .entry, .sd #geodir_content, .sd .sidebar .widget, .sd .geodir-content-right .geodir-company_info, .sd .geodir_full_page .geodir-category-list-in, .sd .geodir_full_page .geodir-loc-bar {
    background-color: #ffffff;
    border-color: transparent;
    box-shadow: none;
    margin-bottom: 0px;
    padding: 0;
}

.sd.search.geodir-page .geodir-search, .sd.archive.geodir-page .geodir-search {
    margin-right: 0;
    width: 100%;
}

/* search with advanced settings */

.sd.search.geodir-page .geodir-adv-form .search_text,
.sd.archive.geodir-page .geodir-adv-form .search_text,
.sd.search.geodir-page .geodir-adv-form .snear,
.sd.archive.geodir-page .geodir-adv-form .snear {

}

/*
#################################################
SEARCH STANDARD
#################################################
*/

#geodir_content .geodir-search .search_by_post,
#geodir_content .geodir-search input[type="text"],
#geodir_content .geodir-search input[type="button"] {
    margin: 0.5%;
}

#geodir_content .geodir-search input[type="button"] {
    width: 10%;
}

#geodir_content .geodir-search input.search_text {
    margin-left: 0px;
}

#geodir_content .geodir-search input[type="text"] {
    width: 43%;
}

.featured-area .geodir-search {
    width: 100%;
}

.featured-area .geodir-search .search_by_post,
.featured-area .geodir-search input[type="text"],
.featured-area .geodir-search input[type="button"] {
    margin: 0.5%;
}

.featured-area .geodir-search input[type="button"] {
    width: 10%;
}

.featured-area .geodir-search input.search_text {
    margin-left: 0.5%;
}

.featured-area .geodir-search input {
    width: 43%;
}

.featured-area .geodir-search input.search_text {
    margin-left: 0px;
}

/*
#################################################
CUSTOM POST TYPES
#################################################
*/

.geodir_custom_posts #geodir_content .geodir-search input.search_text {
    margin-left: 0.5%;
}

.geodir_custom_posts #geodir_content .geodir-search input[type="text"] {
    width: 30%;
}

.geodir_custom_posts #geodir_content .geodir-search .search_by_post {
    margin-left: 0px;
    width: 26%;
}

.geodir_custom_posts .featured-area .geodir-search input.search_text {
    margin-left: 0.5%;
}

.geodir_custom_posts .featured-area .geodir-search input[type="text"] {
    width: 30%;
}

.geodir_custom_posts .featured-area .geodir-search .search_by_post {
    margin-left: 0px;
    width: 26%;
}

/*
#################################################
ADVANCED SEARCH FILTERS
#################################################
*/

.geodir_advance_search #geodir_content .geodir-search .search_by_post {
    width: 20%;
}

.geodir_advance_search #geodir_content .geodir-search .showFilters {
    width: 6%;
}

.geodir_advance_search #geodir_content .geodir-search input[type="text"] {
    width: 40%;
}

/*
#################################################
ADVANCED SEARCH FILTERS && CUSTOM POST TYPES
#################################################
*/

.geodir_custom_posts.geodir_advance_search #geodir_content .geodir-search .search_by_post {
    width: 20%;
}

.geodir_custom_posts.geodir_advance_search #geodir_content .geodir-search .showFilters {
    width: 6%;
}

.geodir_custom_posts.geodir_advance_search #geodir_content .geodir-search input[type="text"] {
    width: 29%;
}

.geodir_submit_search,
.showFilters {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px !important;
    line-height: 0 !important;
}

.sd .Navi, .sd .nav-links {
    border-top: 0 none;
    overflow: hidden;
    padding-top: 0;
}

.sd .Navi {
    margin-bottom: 30px;
}

.sd .geodir-common .clearfix .Navi {
    display: none;
}

.sd-mobile-search-controls {
    display: none;
    margin-bottom: 10px;
    overflow: hidden;
}

a#showMap, a#showSearch, a#hideMap {
    width: auto;
    font-size: 16px;
}

a#showMap, a#hideMap {
    float: right;
    position: relative;
    z-index: 1;
}

a#showSearch, a#hideMap {
    float: left;
}

a#hideMap {
    display: none;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
}

/*added by giri*/
.sd .site-header .site-description {
    display: none;
}

#reviewsTab #comments .commentlist div.avatar-wrap {
    margin-right: 0;
}

#reviewsTab #comments ol.commentlist li.comment,
.wpl_reviews #comments ol.commentlist li.comment,
.gdbp-wrapper-reviews #comments ol.commentlist li.comment {
    border-bottom: none;
}

#reviewsTab .gd-rating-text {
    display: none;
}

.sd-cta-favsandshare {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

.sd-cta-favsandshare li {
    display: inline;
    padding: 10px;
}

.sd-cta-favsandshare a,
.sd-cta-favsandshare a:visited {
    color: #82888a;
}

.sd-cta-favsandshare li .fa {
    font-size: 30px !important;
}

.sd-detail-author a.dt-btn {
    font-size: 15px;
    line-height: normal;
    padding: 5px;
    margin-top: 5px;
}

.sd .sd-my-account-link .avatar {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    margin: 0 4px -5px 0;
    border: 1px solid #fff;
}

.sd-my-account-link .fa-caret-down {
    margin: 0 0 0 5px;
    font-size: 12px;
}

.sd-my-account-dd {
    display: none;
    position: absolute;
    z-index: 111;
    right: 0;
    width: 270px;
    background: #2F2F2F;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}

.sd-my-account-dd .avatar {
    background: none repeat scroll 0 0 #e3e3e3;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin: 0 10px 0 0;
    padding: 3px;
    float: left;
}

.sd-my-account-dd h4 {
    font-weight: bold;
    font-size: 1.3em;
    clear: none;
    margin-bottom: 10px;
    margin-top: 0;
}

.sd #primary-nav ul li .sd-my-account-dd h4 a {
    font-size: 16px;
}

.sd #primary-nav ul li .sd-my-account-dd a {
    text-transform: initial;
    line-height: normal;
    height: auto;
}

.sd-my-account-dd-menu-group {
    clear: both;
}

.sd #primary-nav .sd-my-account-dd-menu-bp-group {
    margin: 12px 0 0;
    border-top: 1px solid #151515;
    padding-top: 11px;
    padding-bottom: 11px;
}

.sd #primary-nav .sd-my-account-dd-menu-group .fa {
    margin-right: 7px;
}

.sd-my-account-dd-menu-group + .sd-my-account-dd-menu-group {
    margin: 12px 0 0;
    border-top: 1px solid #151515;
    padding-top: 11px;
}

#primary-nav ul .sd-my-account-dd-menu-group li {
    padding: 5px;
    display: block;
    float: none;
}

.sd-dd-avatar-wrap {
    overflow: hidden;
}


/*
#################################################
MOBILE MENU
#################################################
*/

.mm-opened .sd.search.geodir-page #site-header, .mm-opened .sd.archive.geodir-page #site-header{
    position: relative;
}

.mm-opened .sd.search.geodir-page #geodir_wrapper, .mm-opened .sd.archive.geodir-page #geodir_wrapper{
    margin-top: 0 !important;
}


/* Details page */

.featured-area .sd-event-dates-head p {
    color: #ffffff;
    font-size: 22px;
    line-height: 30px;
}

.sd .geodir-tabs-content.entry-content.geodir-tabs-list > li {
    margin: 0;
    width: 100%;
}

.sd .sd-detail-details {
    border-bottom: 1px solid #ccc;
    margin: 30px 0;
    overflow: hidden;
    padding-bottom: 30px;
}

.sd .sd-detail-author {
    float: left;
    margin: 10px 50px 0 0;
}

.sd .author-avatar {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #82888a;
}

.sd .author-link {
    margin: 10px 0 0;
    text-align: center;
}

.sd .author-link a {
    color: #82888a;
    font-size: 18px;
}

.sd-detail-author .supreme-btn {
    color: #757575;
    display: block;
    margin: 0 auto;
    width: 45px;
}

.sd-detail-author .geodir-company_info {
    display: inline-block;
    border: none;
    padding: 0;
}

.sd .sd-detail-info .sd-entry-title {
    margin: 0 0 10px;
}

.sd .sd-detail-info {
    float: left;
    overflow: hidden;
}

.sd .sd-address {
    float: left;
    margin: 0 20px 0 0;
    color: #82888a;
}

.sd .sd-ratings {
    float: left;
}

.sd .sd-ratings .geodir-rating {
    float: left;
    margin: 3px 0 0;
    max-width: 80px !important;
}

.sd .sd-contacts {
    clear: left;
}

.sd .sd-contacts a {
    color: #82888a;
    margin: 0 5px 0 0
}

.sd-contacts > a:last-child {
    margin-left: 2px;
}

.sd-detail-cat-links {
    margin: 10px 0 0;
}

.sd-detail-cat-links > ul {
    list-style: outside none none;
    margin: 0;
}

.sd-detail-cat-links li {
    float: left;
    margin: 0 30px 0 0;
}

.sd-detail-cat-links img {
    display: block;
    margin: 0 auto;
    max-height: 35px;
}

.sd-detail-cat-links li a {
    color: #82888a;
}

.sd-detail-cta {
    float: right;
    width: 28%;
}

a.dt-btn {
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
}

a.dt-btn:visited {
    color: #ffffff;
}

.sd-detail-cta .fa-envelope {
    margin: 0 5px 0 0;
}

.sd-detail-cta .geodir_email {
    margin: 20px auto;
    width: 220px;
}

.sd .sd-detail-cta .geodir-addtofav {
    display: block;
    height: 50px;
    width: 100%;
}

.sd .sd-detail-cta .geodir-addtofav a .fa {
    display: block;
    font-size: 50px;
    margin: 0 auto;
    width: 54px;
}

.sd.single.geodir-page #geodir_content, .sd.sd-preview #geodir_content {
    width: 63%;
}

.sd .geodir-common p {
    font-size: 15px;
    line-height: 24px;
}

.sd.single.geodir-page #reviewsTab, .sd.sd-preview #reviewsTab {
    margin: 30px 0;
}

h2.comments-title {
    font-size: 1.7em;
}

.sd.single.geodir-page #gd-sidebar-wrapper, .sd.sd-preview #gd-sidebar-wrapper {
    margin-left: 9%;
    width: 28%;
}

.sd.single.geodir-page #gd-sidebar-wrapper.geodir-sidebar-left, .sd.sd-preview #gd-sidebar-wrapper.geodir-sidebar-left {
    margin-left: 0;
}

.sd.single.geodir-page #geodir-post-gallery a, .sd.sd-preview #geodir-post-gallery a {
    border: 0 none;
    margin: 0;
    width: 33.3333%;
}

#geodir-post-gallery a .geodir_thumbnail {
    margin: 1% 3%;
    max-width: 94%;
    min-width: 94%;
}

.sd-map-in-sidebar-detail {
    margin: 30px 0 20px;
}

.sd-ratings .gd-fa-star-rating {
    float: left;
}

.fa-stack.sd-verified-badge {
    cursor: pointer;
    height: 35px;
    margin: 0 0 0 28px;
    position: absolute;
    width: 35px;
}

.sd-verified-badge i {
    font-size: 35px;
    position: absolute;
    left: 0;
}

.sd-verified-badge .fa-check-circle {
    color: #258023;
}

.supreme-edit-btn {
    color: #777;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: auto !important;
    display: inline-block !important;
    margin-top: 5px !important;
}

.sd .sd-detail-author {
    text-align: center;
}

.sd .sd-detail-cta .geodir-addtofav {
    height: 30px;
}

.sd .sd-detail-cta .geodir-addtofav a .fa {
    font-size: 30px;
    width: 34px;
}

.sd-detail-cat-links {
    overflow: hidden;
    margin-top: 35px;
}

/* Preview Page */

.geodir_preview_section {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    max-width: 50%;
    position: relative;
    z-index: 2;
}

.sd .featured-area .geodir_preview_section h5.geodir_information {
    color: #fff;
    font-size: 20px;
}

.geodir_preview_section form {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    margin-bottom: 0;
}

/* Blog Archive Page */

.sd.blog .content-box.content-single article.hentry, .sd.category .content-box.content-archive article.hentry {
    border: 0 none;
    clear: none;
    float: left;
    margin: 0 5% 50px 0;
    width: 30%;
}

.sd.blog .content-box.content-single article.hentry:nth-child(3n+3), .sd.category .content-box.content-archive article.hentry:nth-child(3n+3) {
    margin-right: 0;
}

.sd.blog .content-box.content-single, .sd.category .content-box.content-archive {
    margin: 60px 0;
    overflow: hidden;
}

.sd.blog .content-box.content-single article.hentry .container, .sd.category .content-box.content-archive article.hentry .container {
    width: 100%;
}

.sd.blog .entry-content, .sd.category .entry-content {
    margin: 20px auto 0;
}

.sd.blog article h2.entry-title, .sd.category article h2.entry-title {
    font-size: 25px;
    padding: 0;
    text-align: center;
}

.sd.blog .entry-footer, .sd.category .entry-footer, .sd.single-post .entry-footer {
    /*text-align: center;*/
}

.nav-links a, .nav-links a:last-child {
    border: 0 none;
}

/* Blog Single Page */

.sd.single-post #comments.comments-area {
    margin: 0 auto;
    max-width: 800px;
}

#comments.normal-comments ol.commentlist {
    list-style: outside none none;
    margin-left: 0;
}

/* AUTHOR PAGE  */

.sd.author .featured-area .avatar {
    border-radius: 60px;
    margin: 0 auto;
    width: 120px; 
}

/*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #C3C3C3;
    border: 2px solid #eee;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}*/

/* Location Manager - Advanced search */

.geodir-search .snear.near-country, .gd-small-country {
    opacity: 1;
}

.geodir-search .snear.near-city, .gd-small-city {
    background-color: #fff;
    color: #0393b7;
}

.geodir-search .snear.near-region, .gd-small-region {
    background-color: #fff;
    color: #c39405;
}

.geodir-search .snear.near-country, .gd-small-country {
    background-color: #fff;
    color: #0e950e;
}

/* FULL SCREEN MAP  */
body.body_fullscreen #geodir_wrapper{
    margin-top: 0 !important;
}
body.body_fullscreen #geodir_content,
body.body_fullscreen #site-header{
    display: none;
}
body.body_fullscreen #gd-sidebar-wrapper,
body.body_fullscreen #sticky_map_gd_listing_map,
body.body_fullscreen #gd_listing_map_wrapper{
    height: 100vh !important;
}

#primary-nav .sd-my-account-dd-inner ul {
    float: none;
}

#gd-account-nav.mm-opened h2.widgettitle {
    color: #ffffff;
    margin: 10px 0;
    font-size: 23px;
}
#gd-account-nav.mm-opened .geodir-chosen-container {
    padding: 10px 10px 10px 20px;
}
#gd-account-nav.mm-opened .geodir-chosen-container-single .chosen-drop {
    margin-top: -11px;
}
#gd-account-nav.mm-opened .mm-list i.fa {
    display: none;
}
#gd-account-nav.mm-opened .mm-list>li>a,
#gd-account-nav.mm-opened .mm-list>li>span {
    display: inline-block;
}
#gd-account-nav.mm-opened .chosen-drop {
    color: #757575;
}

#mm-primary-nav .sd-my-account-link .fa-caret-down {
    display: none;
}

.sd .geodir-details-sidebar-user-links a.geodir-addtofav-icon,
.sd .geodir-details-sidebar-user-links a.geodir-removetofav-icon {
    color: #ed6d62;
    font-size: 15px;
}

#mm-primary-nav li.sd-my-account{
    /*display: none;*/
}

#mm-primary-nav li.sd-my-account .sd-my-account-dd{
    display: block !important;
    width: 100%;
}


#mm-primary-nav li.sd-my-account .sd-my-account-dd .mm-subtitle{
    display: none;
}

#mm-primary-nav .sd-my-account-dd{
    display: block !important;
    width: 100%;
}

#mm-primary-nav .sd-my-account-dd .mm-subtitle,
#primary-nav #sd-my-account div.mm-subtitle{
    display: none;
}


/*
#################################################
RTL SUPPORT
#################################################
*/



/* RESPONSIVE STUFF */

@media all and (min-width: 768px) and (max-width: 1280px) {

    .sd.single.geodir-page .featured-area, .sd.sd-preview .featured-area {
        height: 60vh;
    }



}

@media (max-width: 992px) {

    .sd.search.geodir-page .geodir-listings-sidebar-right,
    .sd.archive.geodir-page .geodir-listings-sidebar-right,
    .sd.search.geodir-page .geodir-listings-sidebar-left,
    .sd.archive.geodir-page .geodir-listings-sidebar-left {
        position: absolute;
        margin-bottom: 0 !important;
    }

    .sd.archive.geodir-page aside#gd-sidebar-wrapper, .sd.search.geodir-page aside#gd-sidebar-wrapper {
        visibility: hidden;
    }

    .sd.search.geodir-page .gd_rating_show, .sd.archive.geodir-page .gd_rating_show {
        z-index: 0;
    }

    .sd.search.geodir-page #geodir_content, .sd.archive.geodir-page #geodir_content {
        flex-basis: 100%;
        width: 100% !important;
    }

    .sd-mobile-search-controls {
        display: block;
    }

    .sd.archive.geodir-page .geodir_advanced_search_widget, .sd.search.geodir-page .geodir_advanced_search_widget {
        display: none;
    }

    .sd.single.geodir-page .featured-area, .sd.sd-preview .featured-area {
        height: 50vh;
    }

    .sd.single.geodir-page #gd-sidebar-wrapper, .sd.sd-preview #gd-sidebar-wrapper {
        margin-left: 0;
    }

    .sd .sd-detail-author {
        margin: 10px 30px 0 0;
    }

    .sd .author-avatar, .sd .author-avatar img {
        height: 50px;
        width: 50px;
    }

    .sd .sd-address {
        float: none;
    }

    .sd-detail-cat-links img {
        display: inline;
        margin: 0 5px 0 0;
        max-height: 20px;
        float: left;
    }

    .sd-detail-cat-links .cat-link {
        font-size: 18px;
    }

    .sd .sd-detail-cta .geodir-addtofav {
        height: 40px;
    }

    .sd .sd-detail-cta .geodir-addtofav a .fa {
        font-size: 40px;
        width: 44px;
    }

    .sd.blog .content-box.content-single article.hentry, .sd.category .content-box.content-archive article.hentry {
        float: left;
        margin: 0 3% 50px 3%;
        width: 44%;
    }

/*
#################################################
SIDEBARS CSS START
#################################################
*/


    .sd .entry-content.sidebar-active{
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border-right:none;
        border-left:none;
    }

    .sd .sd-sidebar{
        float: none;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border-right:none;
        border-left:none;;
    }
/*
#################################################
SIDEBARS CSS END
#################################################
*/

}

@media all and (max-width: 668px) {

    .sd.home .featured-area {
        display: block;
        height: auto;
        padding: 100px 0 30px;
    }

    .sd .featured-area h1.entry-title {
        font-size: 27px;
        margin-bottom: 15px;
    }

    .sd .entry-subtitle {
        font-size: 15px;
        line-height: normal;
    }

    .sd.home .cat-link, .sd.sd-location .cat-link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .home-more {
        display: none;
    }

    .sd .geodir_category_list_view li.gridview_onethird,
    .sd .geodir_category_list_view li.gridview_onefourth,
    .sd .geodir_category_list_view li.gridview_onefifth {
        margin: 0;
        width: 100%;
    }

    .sd .sd-detail-author {
        margin: -130px 30px 0 0;
        position: absolute;
        z-index: 99999999999;
        display: block;
    }

    .sd .author-link a {
        color: #fff;
        font-size: 18px;
        text-shadow: 1px 1px #000;
    }

    .sd .sd-detail-info {
        float: none;
        overflow: hidden;
    }

    .sd-detail-cta {
        float: none;
        width: 100%;
        margin: 40px 0 0 0;
        clear: both;
    }

    .sd.blog .content-box.content-single article.hentry, .sd.category .content-box.content-archive article.hentry {
        float: none;
        margin: 0 5% 50px 5%;
        width: 90%;
    }

}

@media all and (max-width: 375px) {

    a#showMap, a#showSearch, a#hideMap {
        font-size: 13px;
    }

    .sd.search.geodir-page .search_text, .sd.archive.geodir-page .search_text, .sd.search.geodir-page .snear, .sd.archive.geodir-page .snear,
    .sd .featured-area  .geodir-cat-list ul li,
    .sd.search.geodir-page .geodir-search input[type="button"], .sd.search.geodir-page .geodir-search input[type="submit"],
    .sd.archive.geodir-page .geodir-search input[type="button"], .sd.archive.geodir-page .geodir-search input[type="submit"] {
        width: 100%;
    }

    .sd .geodir_category_list_view li.gridview_onehalf {
        margin: 0;
        width: 100%;
    }

    .sd.home .geodir-search input[type="text"], .sd.home .geodir-search select, .sd.home .geodir-search input[type="button"],
    .sd.sd-location .geodir-search input[type="text"], .sd.sd-location .geodir-search select, .sd.sd-location .geodir-search input[type="button"] {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .sd.home .cat-link, .sd.sd-location .cat-link {
        display: none;
    }

    body.sd .featured-area .geodir-listing-search .geodir-search .search_by_post,
    body.sd #geodir_content .geodir-listing-search .geodir-search .search_by_post,
    body.sd #geodir_content .geodir-listing-search .geodir-search input[type="button"],
    body.sd #geodir_content .geodir-listing-search .geodir-search input[type="text"] {
        width: 100%;
        margin: 0.5%;
    }

}
/*A-F-I-V-E-R-S-I-O-N*/

.sd-my-account-dd-inner form p{
	float:left;
	width:100%;
}
.sd-my-account-dd-inner form p.sd-register > a{
	min-height:inherit !important;
}
.the_champ_outer_login_container{
    float: left;
    width: 100%;
    position: relative;
    padding-top: 5px;
    border-top: 1px solid #151515;
}
.the_champ_outer_login_container .the_champ_social_login_title{
    position: absolute;
    bottom: 10px;
    left: 50px;
    color: #fff;
}
.sd-my-account-dd-inner h4.sd-my-account-title{
	color:#fff;
}
.sucess_msg{
    color: #ed6d62 !important;
    background: rgba(237, 109, 98, 0.18) !important;
    border-top: 1px solid #ed6d62 !important;
    border-bottom: 1px solid #ed6d62 !important;
}
body.signup .login_form_l{
	position:relative;
	min-height:390px;
}
body.signup .the_champ_outer_login_container{
	border:none;
	position:absolute;
	bottom:20px;
}
body.signup .the_champ_outer_login_container .the_champ_social_login_title{
	position: inherit;
    color: #3c589a;
    float: right;
    margin-top: 10px;
    margin-right: 84px;
}
body.signup p.rember{
	padding-top:0;
	line-height:normal;
}
body.signup p.rember input[type="checkbox"]{
	float:left;
	margin-top:3px;
	line-height:normal;
}
body.signup #cus_loginform > a{
	float: left;
    width: 100%;
    margin: 10px 0;
    color: #ed6d62;
}
body.signup .login_form_l .form_row input,
body.signup .registration_form_r .form_row input{
	height:auto;
}
body.signup #cus_registerform > .form_row_clearfix{
    margin-bottom: 12px;
}
.site-logo{
	display:none;	
}
.theChampFacebookLoginSvg{
	width:35px !important;
	height:35px !important;
}
.the_champ_outer_login_container{
	float:left !important;
}
body.page-id-99992047 .featured-area {
display:none;
}
body.page-id-99992047.sd .entry-content {
padding-top:0;
}
.top-txt{
    padding: 70px 0;
    text-align: center;
    font-size: 20px;
    float: left;
    width: 100%;
}
.top-txt p{
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}
.top-txt a {
	background: #ed6d62;
    color: #fff;
    padding: 12px;
    float: left;
    margin: 0;
    width: 264px;
    overflow: hidden;
}
.top-txt a:first-child {
margin-right:10px;
}
.top-txt a:hover {
	background:#C25950;
	text-decoration:none;
	color:#fff;
}
.btn-area {
    float: left;
    width: 100%;
}
.btn-area .iner-btn {
    display:table;
    margin:0 auto;
    overflow:hidden;
}
li.menu-logo {
	display:none
}
#site-header {
    position: fixed;
    top: 0;
    left: 0;
    float:left;
    width:100%;
z-index: 100;
}
.site-header.fix #primary-nav ul li.menu-logo a img {
	opacity:0;
}
.site-header.fix #primary-nav ul li.menu-logo a {
    background: url(/wp-content/uploads/2017/03/small-logo.png) no-repeat left top;
    width: 70px;
    height: 70px;
    margin: 2px auto 0;
    animation-name: slideIn;
    animation-duration: .6s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    float: none;
    display: block;
    background-size: 100% 100%;
}
.site-header.fix li.menu-logo h1 {
	min-width: 167px;
}
.site-header.fix {
	height:71px;
}
body.home #geodir_wrapper {
margin-top:0px !important;
}
body.home #popular_post_category-1 h3 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
body.signup #geodir_content {
	height: auto !important;
    overflow-y: visible !important;
}
#lostpassword_form {
	float: left;
    width: 100%;
}
#lostpassword_form input {
	margin-bottom: 10px;
}
body.signup p.rember input[type="checkbox"] {
	margin-right: 5px;
}
.home-tabs ul.vc_tta-tabs-list {
		overflow:visible !important;
		margin: 0 auto 18px !important;
		display: table !important;
		width: auto;
}
.home-tabs ul.vc_tta-tabs-list li.vc_tta-tab a {
    border-color: #f7f7f7 !important;
    background-color: #FFF !important;
    color: #666 !important;
    padding: 0 !important;
    border-bottom: 4px solid #ffffff !important;
    border: 0px !important;
    font-size: 30px !important;
    margin-right: 73px !important;
	position: relative !important;
}
.home-tabs ul.vc_tta-tabs-list li.vc_tta-tab:last-child a {
	margin-right:0 !important;
}
.home-tabs ul.vc_tta-tabs-list li.vc_tta-tab.vc_active a {
    border-bottom: 4px solid #2f2f2f !important;
}
.home-tabs ul.vc_tta-tabs-list li.vc_tta-tab.vc_active a:before {
    font-family: FontAwesome;
    content: '\f0d7';
    position: absolute;
    top: 32px !important;
    left: 0 !important;
    color: #2f2f2f;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.home-tabs .vc_tta-panels {
	background-color: transparent !important;
    border: 0px !important;
}
.home-tabs .vc_tta-panel-body {
	border: 0px !important;
	padding:0 !important;	
}
.home-tabs .vc_tta-container {
    margin-bottom: 18px;
}
body.home .forcefullwidth_wrapper_tp_banner {
    margin-bottom: 0px !important;
}
.vc_tta.vc_general.home-tabs  .vc_tta-panel-body {
	overflow:visible;
}
.center-text {
	text-align:center !important;
}
#job-manager-job-dashboard table thead tr, 
#resume-manager-candidate-dashboard table thead tr, 
#job-manager-alerts table thead tr {
	background: #2f2f2f;
}
#job-manager-job-dashboard table th , 
#resume-manager-candidate-dashboard table th,
#job-manager-alerts table th {
    color: #fff;
}
#job-manager-job-dashboard table td, 
#job-manager-job-dashboard table th, 
#resume-manager-candidate-dashboard table td, 
#resume-manager-candidate-dashboard table th ,
job-manager-alerts table td, 
#job-manager-alerts table th {
	padding:10px;
}
#job-manager-job-dashboard table tbody tr, 
#resume-manager-candidate-dashboard table tbody tr ,
#job-manager-alerts table tbody tr {
	border-bottom: 1px solid #2f2f2f;
}
.copyright .container p {
    color: #fff;
}
.featured-area {
	min-height: 280px;
}
#primary-nav {
	display:none;
}
#buddypress #header-cover-image{
display:none;
}
#buddypress #item-header-cover-image #item-header-avatar {
    margin-top: 20px !important;
}
@media (max-width:1060px) {
	.registration_form_r {
		margin-right: 14%;
	}
	.login_form_l {
		margin-left: 14%;
	}
}
@media (min-width:1200px) {
li.sd-my-account {
	position: absolute !important;
    right: 95px !important;
}	
}
@media (min-width:993px) {
#ds-container {
	padding-top: 71px;
}
li.menu-logo {
	display:block;
}
li.menu-logo h1 {
	padding: 0;
    float: left;
    margin: 0px 0 0 0;
    width: 100%;
}
.sd #primary-nav ul li.menu-logo a img {
    width: 167px;
    margin: 0px 0;
}
.sd #primary-nav ul li a {
	line-height: 71px;
}
.sd #primary-nav ul li.menu-logo a {
	float: left;
    min-height: auto;
    height: auto;
    line-height: normal;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;	
}
.site-logo, .site-logo-wrap{
	display:none;	
}
#primary-nav {
	width:100%;
}
#primary-nav ul {
	float:none;
	margin:0 auto;
	display:table;
}
.sd #primary-nav ul .sub-menu a {
	line-height: normal;    
	min-height: auto;    
	padding: 14px 20px;    
	border-bottom: 1px dotted #fff;
}
}
@media (max-width:992px) {	
	body.signup .login_form_l {		
		margin-left: 0;		
		width: 88%;		
		margin: 53px auto;
		float: none;
		display: block;
		overflow: hidden;
	}	
	body.signup .the_champ_outer_login_container .the_champ_social_login_title {
		position: inherit;
		color: #3c589a;	
		float: left;
		margin-top: 10px;
		margin-right: 0;
	}
	body.signup .registration_form_r {
		float: none;
		width: 88%;
		margin: 48px auto !important;
		display: block;
	    overflow: hidden;
	}
	#site-header {
		height: 71px;    
		overflow: visible;
	}
	.site-logo {
		margin: 0 !Important;
	}
	.site-logo a {
		background: url(/wp-content/uploads/2017/03/small-logo.png) no-repeat left top;
		width: 90px;
		height: 88px;
		margin: 20px auto 0;
		animation-name: slideIn;
		animation-duration: .6s;
		-moz-transition: all 0.25s ease 0s;
		-webkit-transition: all 0.25s ease 0s;
		transition: all 0.25s ease 0s;
		float: none;
		display: block;
		background-size: 100% 100%;
	}
	.site-logo a img {
		display:none;	
	}
	li.menu-logo {
		display:none !important;
	}
	#ds-container {
		float:left;
		width:100%;
	}
	.login_form_l .form_row .textfield, .registration_form_box .form_row .textfield {
		width: 100%;
		margin-bottom: 0;
		margin-right: 0;
	}
	.copyright .container {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	.copyright .container p {
		color:#fff;	
	}
	.login_form_box, .registration_form_box {
		float: left;    
		width: 100%;	
	}
	.sd.home .site-header, .sd.sd-location .site-header {
		background-color: #2F2F2F;
	}
	body.signup #cus_loginform > a {
		margin: 10px 0 0;
	}
	a.signup-btn {
		display: block;
		padding: 10px;
		width: 194px;
		background: #ed6d62;
		color: #fff;
		margin: 0 auto;
		font-size: 17px;
		text-align: center;	
	}
	.site-header .container {
		overflow: visible !important;
	}
#primary-nav {
	display:none !important;
}
}
@media (max-width:767px) {
	ul.job_listings li.job_listing a .meta, ul.job_listings li.no_job_listings_found a .meta {
		float: right;
		width: 100%;
	}
}
@media (max-width:668px) {
	.featured-area {
		min-height: 225px;
	}
	.header-wrap {
		margin: 62px auto 0;
	}
}
@media (max-width:620px) {
	#job-manager-job-dashboard table, 
	#resume-manager-candidate-dashboard table, 
	#job-manager-alerts table {
		float: left;
		width: 100%;
		font-size: 0.6em;
	}
}
@media (max-width:586px) {
	.top-txt a {
		float: none;
		margin: 0 auto 10px !important;
		width: 264px;
		overflow: hidden;
		display: block;
	}
	.top-txt a:last-child {
		margin-bottom:0px !important;
	}
}
@media (max-width:435px) {
	#job-manager-job-dashboard table, 
	#resume-manager-candidate-dashboard table, 
	#job-manager-alerts table {
		font-size: 0.4em;
	}
}
@media (max-width:360px) {
	.top-txt a {
		width:100%;
	}
	.btn-area .iner-btn {
		float:left;
		width:100%;
	}
}

/*E-N-D-A-F-I-V-E-R-S-I-O-N*/

